/*General Adjustments to the parent properties*/
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

button {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white; /* Default color */
  }
  
  a:visited {
    color: white; /* Visited link color */
  }
  
  a:hover,
  a:focus {
    color: rgb(226, 207, 94); /* Color on hover or focus */
  }
  

/*Section for head*/

.nav{
    height: 150px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: rgb(226, 207, 94) 2px solid;
    position: relative; /* Ensure border doesn't overflow */
    z-index: 1000; /* Keep the navbar above other content */
    overflow: hidden;
}

.nav #logo{
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    height: 150px;
    border-right:  rgb(226, 207, 94) 2px solid;
    border-left: rgb(226, 207, 94) 2px solid;
     overflow: hidden;
}

.nav h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    color: white;
    font-family: 'Pathway Gothic', sans-serif, "Times New Roman", serif;
    font-size: 20px;
    text-wrap: nowrap;
}

.homeNav:hover{
    background-color: aqua;
}

.sticky {   /* class to make navbar stick to the top of the screen*/
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
  }

.header{
    background-color: black;
    overflow: hidden;
}
  
/* Section for landing page copy */

.landingCopy{
    height: 40vh;
    margin-top: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 80px;
    text-align: center;
    font-family: 'Gothic One', sans-serif, "Times New Roman", serif;
    margin-bottom: 0px;
}

.landingCopy #noNonsense{
    margin-top: 0px;
    margin-bottom: 10px;
}

.landingCopy #justKnowledge{
    margin-top: 0px;
    margin-bottom: 30px;
}

.fade{ /* class to add/remove fade*/
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

.fader{
    opacity: 1;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3s;
}

#onlyUmrah{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 30px;
}

#becomeA{
    margin-top: 0px;
    font-size: 30px;
}

#ourUmrah{
    margin-top: 0px;
    font-size: 60px;
}

/* video section */

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 20px;
}

.video video:hover{
    cursor: pointer;
}

.video video{
    margin-top: 100px;
    border:rgb(226, 207, 94) 2px solid;
    height: 550px;
}


/* second section of copy*/

.landingCopy2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-position: center;
    background-image: url(/Mecca.jpg);
    background-attachment: fixed;
    height: 90vh;
    margin-top: 0px;
}

#yourChance{
    font-family: 'Gothic One', sans-serif, "Times New Roman", serif;
    color: red;
    margin-right: 10px;
}

#to{
    font-family: 'Gothic One', sans-serif, "Times New Roman", serif;

}

.copyDiv1{
    display: flex;
}

.landingCopy2 .sitOverseas{
    font-family: 'Gothic One', sans-serif, "Times New Roman", serif;
}

.centerText{
    width: 400px;
    text-align: center;
}

#potential{
    background-color: red;
    margin-top: 30px;
    border: solid black 2px;
    border-radius: 10px;
    cursor: pointer;
}

/* about us section */

.aboutUs{ /*really just an explanation of the premise*/
    height: 200vh;
}

.aboutUs p{
    font-weight: 500;
}

.copyDiv2{
    font-size: 60px;
    font-family: 'Gothic One', sans-serif, "Times New Roman", serif;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

#whyWe{
    margin-bottom: 20px;
}


.copyDiv3{
    font-size: 60px;
    font-family: 'Gothic One', sans-serif, "Times New Roman", serif;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#sunnah{
    margin-left: 10px;
}

#mecca{
    text-align: center;
}

#aboutUsIMG1{
    height: 200px;
}

.copyDiv4{
    margin-right: 160px;
    width: 400px;
    font-family: 'Gothic One', sans-serif, "Times New Roman", serif;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
}

.copyDiv5{
    font-family: 'Gothic One', sans-serif, "Times New Roman", serif;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

#buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#potential2{
    margin-top: 40px;
    background-color: red;
    border: solid white 2px;
    border-radius: 10px;
    cursor: pointer;
}

#potential3{
    margin-top: 40px;
    background-color: red;
    border: solid white 2px;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
}

#potential4{
    margin-top: 40px;
    background-color: red;
    border: solid white 2px;
    border-radius: 10px;
    cursor: pointer;
}


.imageDiv{
    margin-top: 40px; 
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#copyImage1{
    height: 500px;
}

.container{
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: flex-start; /* Align items at the start vertically */
    margin-top: 20px; /* Space from the top */
}

/*section with testimonials*/

.testimonials{
    margin-top: 700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 800px;
}

#testimonial1{
    font-size: 100px;
    font-family: 'Gothic One', sans-serif, "Times New Roman", serif;
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

#testimonialIMG img{
    height: 500px;
}

#testimonialIMG{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/*section showcasing Umrah features*/

.features{
    height: 100vh;
    margin-bottom: 100px;
}

#tripInfo{
    font-size: 100px;
    font-family: 'Gothic One', sans-serif, "Times New Roman", serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.featuresImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/Features.png);
    height: 70vh;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: center;
    margin-top: 0px;
}

/* Section to contact*/

.contactUs{
    height: 100vh;
}

#tripInfo{
    margin-bottom: 50px;
}

#part3{
    height: 650px;
    display: flex;
    align-items: center;
}

#offerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#onceInALife{
    height: 400px;
    width: 400px;
    font-size: 20px;
    margin-left: 25px;
    display: flex;
    font-family: 'Gothic One', sans-serif, "Times New Roman", serif;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* General styles, already included in your stylesheet */

/* Media Queries for Responsive Design */

/* For tablets (between 768px and 1200px) */
@media (max-width: 1200px) and (min-width: 768px) {

    .nav {
        height: 150px;
        overflow-x: hidden;
    }

    .nav h2 {
        font-size: 18px;
        margin: 20px;
    }

    #video{
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0;
        
    }

    .landingCopy {
        margin-top: 200px;
        font-size: 50px;
    }

    .landingCopy2 {
        height: 60vh;
    }

    .video video {
        height: 400px;
    }

    .copyDiv1{
        font-size: 15px;
    }

    .centerText{
        font-size: 13px;
    }

    #dontWaste{
        font-size: 20px;
    }

    #potential{
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .copyDiv2, .copyDiv3, .copyDiv4, .copyDiv5 {
        font-size: 24px;
        margin-right: 0px;
        text-align: center;
    }

    .imageDiv img {
        height: 400px;
        margin-left: 40px;
    }

    .imageDiv{
        margin-right: 30px;
    }

    .aboutUs{
        margin-left: 18px;
        margin-bottom: 50px;
    }

    .testimonials{
        margin-top: 0px;
        margin-bottom: 170px;
    }

    #testimonial1 {
        font-size: 60px;
    }

    #testimonialIMG img {
        height: 300px;
    }

    #tripInfo {
        font-size: 60px;
    }

    .features{
        margin-bottom: 0px;
        height: 550px;
        margin-top: 400px;
    }

    .featuresImage {
        height: 50vh;
    }

    #part3 {
        height: 500px;
    }

    #onceInALife {
        height: auto;
        width: 300px;
        font-size: 18px;
    }
}

/* For mobile devices (up to 768px) */

/* Media Queries for responsiveness */
@media (max-width: 764px) {

   body{
        overflow: hidden;
    }

   .nav h2 {
        display: none;
    }

    .nav {
        flex-direction: column; /* Stack items vertically */
        height: 130px;
    }

    .nav #logo {
        margin: auto; /* Center logo horizontally */
        margin-top: 15px;
        padding-bottom: 10px; /* Add some space below the logo */
        border: none;
    }
   
    .landingCopy {
        margin-top: 180px; /* Adjust to avoid hiding behind the navbar */
        font-size: 40px; /* Reduce font size on mobile */
        height: auto;
    }

    .landingCopy #noNonsense, .landingCopy #justKnowledge {
        font-size: 40px; /* Adjust font size for better visibility */
    }

    .landingCopy #justKnowledge{
        margin-bottom: 13px;
    }

    .landingCopy #onlyUmrah {
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    .landingCopy #noNonsense{
        margin-bottom: 0px;
    }

    .landingCopy #becomeA{
        font-size: 14px; /* Adjust font size for smaller screens */
        margin-bottom: 30px;
    }

    .video{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
        margin-bottom: 50px;
    }

    #video{
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0;
        
    }

     /* Landing copy 2 adjustments */
     .landingCopy2 {
        height: auto; /* Allow height to adjust automatically */
        background-image: url(/Mecca.jpg);
        background-attachment: scroll; /* Fix background attachment issue */
    }

    .copyDiv1{
        margin-top: 20px;
    }

    #yourChance {
        font-size: 20px;
        margin-right: 5px;
    }

    #to {
        font-size: 20px;
    }

    .centerText {
        width: 90%; /* Adjust width for mobile */
        text-align: center;
        font-size: 10px;
    }

    #dontWaste{
        font-size: 12px;
    }

    #potential{
        height: 60px;
        width: 80vw;
        margin-top: 8px;
        margin-bottom: 20px;
    }

    /* About Us section adjustments */
    .aboutUs {
        margin-top: 20px;
        height: auto; /* Allow height to adjust automatically */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #clickPotential{
        font-size: 18px;
    }

     #clickPotential2{
        font-size: 16px;
    }

    .copyDiv2, .copyDiv3, .copyDiv5 {
        font-size: 10px; /* Adjust font size for mobile */
        margin: 0;
        text-align: center;
        padding: 0px;
    }

    #whyWe{
        font-size: 48px;
         width: 300px;
    }

    #unlikeOther{
        font-size: 14px;
        width: 300px;
    }

    .copyDiv4{
        font-size: 13px; /* Adjust font size for mobile */
        margin: 0;
        text-align: center;
        padding: 10px;
        margin-bottom: 20px;
        width: 300px;
    }

    .imageDiv {
        margin-top: 20px;
        margin-right: 0; /* Remove right margin */
        margin-left: 5px;
    }

    #copyImage1 {
        height: auto; /* Allow height to adjust automatically */
        width: 60%; /* Full width */
        margin-bottom: 20px;
    }
    
    .container{
        width: 100%; /* Ensure the parent container is wide enough */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    #potential2{
        height: 60px;
        width: 80vw;
        margin-top: 8px;
        margin-bottom: 20px;
        font-size: 6px;
    }

    #buttonDiv{
        margin-top: 20px;
    }

    /* Testimonials section adjustments */
    .testimonials {
        margin-top: 0; /* Remove top margin */
        height: auto; /* Allow height to adjust automatically */
    }

    #testimonial1 {
        font-size: 30px; /* Adjust font size */
        margin-bottom: 30px;
        
    }

    #testimonialIMG img {
        height: auto; /* Allow height to adjust automatically */
        width: 100%; /* Full width */
    }

    /* Features section adjustments */
    .features {
        height: auto; /* Allow height to adjust automatically */
        margin-bottom: 90px;
        margin-top: 100px;
    }

    #tripInfo {
        font-size: 30px; /* Adjust font size */
    }

    .testimonials{
        margin-bottom: 60px;
        margin-top: 50px;
    }

    .featuresImage {
        height: auto; /* Allow height to adjust automatically */
        background-size: contain;
        min-height: 180px;
    }

    #tripInfo{
        margin: 0px;
    }

    /* Contact Us section adjustments */
    .contactUs {
        height: auto; /* Allow height to adjust automatically */
    }

    #part3 {
        height: auto; /* Allow height to adjust automatically */
        width: 100%; /* Full width */
    }

    #onceInALife {
        width: auto; /* Adjust width for mobile */
        font-size: 10px; /* Adjust font size */
    }

    #tripInfo{
        text-align: center;
    }

    .imageDiv img {
        width: 60%; /* Reduce the width to 60% of the container */
        height: 20px; /* Maintain aspect ratio */
        margin: 0 auto; /* Center the image */
        display: block; /* Ensure it centers horizontally */
    }

    .imageDiv{
        margin-top: 12px;
    }
    
    .copyDiv4 {
        padding: 10px 20px; /* Add some padding to give space for the text */
    }

    .copyDiv5{
        font-size: 13px;
        width: 300px;
    }

     #offerContainer {
        display: flex;
        flex-direction: column; /* Stack image and text vertically */
        align-items: center; /* Center content horizontally */
        text-align: center; /* Center text inside */


    }

    #onceInALife{
        height: 250px;
    }

    #part3 {
        width: 80%; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
        margin-bottom: 20px; /* Space between image and text */
        margin-top: 20px;
    }

    #onceInALife {
        width: 100%;
        text-align: center; /* Center text inside */
        margin-left: 0px;
        align-items: center;
    }

    #dontSleep{
        text-align: center;
    }

    #onceInALife #dontSleep {
        font-size: 18px; /* Adjust font size for better readability */
        margin-bottom: 10px; /* Space between headings */
        
    }

    #potential3{
        height: 60px;
        margin-top: 25px;
        width: 80vw;
        font-size: 6px;
    }

    #potential4{
        height: 60px;
        margin-top: 25px;
        width: 80vw;
        font-size: 6px;
        margin-bottom: 300px;
    }

    .contactUs{
        height: 140vh;
    }

    #forLife{
        margin-bottom: 0px;
    }

}


@media (max-width: 1200px) and (min-width: 994px) {

    .nav {
        height: 150px;
    }

    .nav h2 {
        font-size: 20px;
        margin: 25px;
    }

    #video {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0;
    }

    .landingCopy {
        margin-top: 230px;
        font-size: 55px;
        margin-bottom: 50px;
    }

    .landingCopy2 {
        height: 65vh;
    }

    .video video {
        height: 420px;
    }

    .copyDiv1 {
        font-size: 16px;
    }

    .centerText {
        font-size: 14px;
    }

    #dontWaste {
        font-size: 22px;
    }

    #potential {
        margin-bottom: 6px;
        margin-top: 12px;
    }

    .copyDiv2, .copyDiv3, .copyDiv4, .copyDiv5 {
        font-size: 26px;
        margin-right: 5px;
        text-align: center;
    }

    .imageDiv img {
        height: 420px;
        margin-left: 45px;
    }

    .imageDiv {
        margin-right: 35px;
    }

    .aboutUs {
        margin-left: 20px;
        margin-bottom: 55px;
    }

    .testimonials {
        margin-top: 600px;
        margin-bottom: 180px;
    }

    #testimonial1 {
        font-size: 56px;
    }

    #testimonialIMG img {
        height: 320px;
    }

    #tripInfo {
        font-size: 62px;
    }

    .features {
        margin-bottom: 10px;
        height: 580px;
    }

    .featuresImage {
        height: 55vh;
    }

    #part3 {
        height: 520px;
    }

    #onceInALife {
        height: auto;
        width: 320px;
        font-size: 20px;
    }
}


@media (max-width: 995px) and (min-width: 765px) {

    .nav {
        height: 150px;
    }

    .nav h2 {
        font-size: 16px;
        margin: 18px;
    }

    #video {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0;
    }

    .landingCopy {
        margin-top: 220px;
        font-size: 45px;
    }

    .landingCopy2 {
        height: 55vh;
    }

    .video video {
        height: 380px;
    }

    .copyDiv1 {
        font-size: 14px;
    }

    .centerText {
        font-size: 12px;
    }

    #dontWaste {
        font-size: 18px;
    }

    #potential {
        margin-bottom: 4px;
        margin-top: 8px;
    }

    .copyDiv2, .copyDiv3, .copyDiv4, .copyDiv5 {
        font-size: 22px;
        margin-right: 0px;
        text-align: center;
    }

    .imageDiv img {
        height: 380px;
        margin-left: 30px;
    }

    .imageDiv {
        margin-right: 25px;
    }

    .aboutUs {
        margin-left: 15px;
        margin-bottom: 45px;
        margin-bottom: 200px;
    }

    .testimonials {
        margin-top: 0px;
        margin-bottom: 160px;
    }

    #testimonial1 {
        font-size: 55px;
    }

    #testimonialIMG img {
        height: 280px;
    }

    #tripInfo {
        font-size: 55px;
    }

    .features {
        margin-top: 300px;
        margin-bottom: 0px;
        height: 520px;
    }

    .featuresImage{
        background-size: contain;
    }

    .featuresImage {
        height: 48vh;
    }

    #part3 {
        height: 480px;
    }

    #onceInALife {
        height: auto;
        width: 280px;
        font-size: 18px;
    }
}

/* One last one just to sort out some unaligned text*/

@media (max-width: 1250px) and (min-width: 1200px){
    .testimonials {
        margin-top: 1000px;
    }

    .features{
        margin-top: 1000px;
    }

    .contactUs h1{
        text-align: center;
    }
    
}
